*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    width: 100vh;
    height: 100vh;
    background: linear-gradient(
     90deg,
     rgba(207, 152, 205, 0.8)0%,
     rgba(141, 111, 224, 0.9)100%);
     
}

.board{
    position: absolute;
    display: grid;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content:center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
   
}

.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background: rgba(255, 255, 255, 0.3) !important; 
}

/*celula*/

.cell{
    width: 100px;
    height: 100px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7){
    border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9){
    border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}

/* X */

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.x .cell:not(.x):not(.circle):hover::before { 
    content:"";
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background: white;
    position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg)
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

/*circle*/
.cell.circle::before,
.cell.circle::after, 
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content:"";
    height: calc(100px * 0.9);
    width: calc(100px * 0.9);
    border-radius: 50%;
    position: absolute;
    background: white;

}

/*mensagem*/
.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;

}

button {
    font-size: 2rem;
    background-color:rgba(207, 152, 205, 0.8);
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 14px;

}

button:hover {
    background-color: white;
    color:rgba(141, 111, 224, 0.9);
}
.winning-message-text {
    font-size: 3rem;
    color: white;
}
